* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1b1b1b;
}
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.box {
    width: 50px;
    height: 54px;
    margin: 10px;
    background: orange;
    border-radius: 100px;
}
button {
    padding: 10px 20px;
    margin-left:10px;
    outline:none ;
}
